.search-container{
    background: #131B2E;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    position: relative;
}
.search-container::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #8990A8;
}
.search-content{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
    width: 80%;
}
.search-text{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 2rem;
    color: #E5F2FF;
    font-weight: bolder;
    letter-spacing: 1px;
}
.search-text span{
    color: #34B5FA;
}
.search-input{
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 2px;
    outline: none;
    background: #283044;
    color: #E5F2FF;
}